<html lang="en" data-ng-app="app">
<head>
    <base href="@Model.AppRoot" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    @Model.Styles
    <title>DynamicTranslator - Learning Station</title>
</head>
<body>
<h1>Worked Like a Charm!!!</h1>
    {{'Im angular text !'}}
    <div ng-controller="indexController as vm">
        <div ng-include="'views/index/header.html'"></div>
        <div class="container">
            <div class="angular-animation-container row">
                <div ui-view class="shuffle-animation col-xs-12"></div>
            </div>
        </div>
    </div>
    @Model.Scripts
</body>
</html>