<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="LeftOffset" value="500" />
    <add key="TopOffset" value="15" />
    <add key="ApiKey" value="trnsl.1.1.20151026T185243Z.d28328f8729b953b.97a7993c798cd401dbe95ff429ae8429903e3df9" />
    <add key="GoogleAnalyticsUrl" value="http://www.google-analytics.com/collect" />
    <add key="ClientId" value="" />
    <add key="SearchableCharacterLimit" value="200" />
    <add key="MaxNotifications" value="4" />
    <add key="FromLanguage" value="English" />
    <add key="ToLanguage" value="Turkish" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="GoogleTranslateUrl"
         value="https://translate.google.com/translate_a/single?client=t&amp;sl={0}&amp;tl={1}&amp;hl=tr&amp;dt=bd&amp;dt=ex&amp;dt=ld&amp;dt=md&amp;dt=qca&amp;dt=rw&amp;dt=rm&amp;dt=ss&amp;dt=t&amp;dt=at&amp;ie=UTF-8&amp;oe=UTF-8&amp;source=btn&amp;srcrom=1&amp;ssel=0&amp;tsel=0&amp;kc=0&amp;tk=307860|168064&amp;q={2}" />
    <add key="YandexUrl" value="https://translate.yandex.net/api/v1.5/tr/translate?" />
    <add key="SesliSozlukUrl" value="http://www.seslisozluk.net/c%C3%BCmle-%C3%A7eviri/" />
    <add key="TurengUrl" value="http://tureng.com/search/" />

  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>