<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="LeftOffset" value="500" />
    <add key="TopOffset" value="15" />
    <add key="ApiKey" value="trnsl.1.1.20151026T185243Z.d28328f8729b953b.97a7993c798cd401dbe95ff429ae8429903e3df9" />
    <add key="GoogleAnalyticsUrl" value="http://www.google-analytics.com/collect" />
    <add key="ClientId" value="" />
    <add key="TrackingId" value="UA-70082243-2" />
    <add key="SearchableCharacterLimit" value="200" />
    <add key="MaxNotifications" value="4" />
    <add key="FromLanguage" value="English" />
    <add key="ToLanguage" value="Turkish" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="GoogleTranslateUrl"
         value="https://translate.googleapis.com/translate_a/single?client=gtx&amp;sl=auto&amp;tl={0}&amp;hl={1}&amp;dt=t&amp;dt=bd&amp;dj=1&amp;source=bubble&amp;q={2}" />
    <add key="YandexUrl" value="https://translate.yandex.net/api/v1.5/tr/translate?" />
    <add key="SesliSozlukUrl" value="http://www.seslisozluk.net/c%C3%BCmle-%C3%A7eviri/" />
    <add key="TurengUrl" value="http://tureng.com/search/" />
    <add key="YandexDetectTextUrl"
         value="https://translate.yandex.net/api/v1/tr.json/detect?sid=f1d871d4.567f9952.6c3cbcfa&amp;srv=tr-text&amp;text={0}" />

  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>